<div class="container">
    <h3>Welcome {{ request.session.username }}</h3><hr>
    <div class="row">
        <div class="col-sm-8 col-md-8" >            
            <div class="left-container">
                <div id="editor-topbar">
                    <div class="lang-choose">
                        <select class="form-control" name="lang" id="form-lang">
                            <option value="C">C (gcc 4.8.1)</option>
                            <option value="CPP">C++ (g++ 4.8.1)</option>
                            <option value="CSHARP">C#</option>
                            <option value="CLOJURE">Clojure (clojure 1.1.0)</option>
                            <option value="CSS">CSS</option>
                            <option value="HASKELL">Haskell (ghc 7.4.1)</option>
                            <option value="JAVA">Java (openjdk 1.7.0_09)</option>
                            <option value="JAVASCRIPT">JavaScript</option>
                            <option value="OBJECTIVEC">Objective-C (clang 3.3)</option>
                            <option value="PERL">Perl (perl 5.14.2)</option>
                            <option value="PHP">PHP (php 5.3.10)</option>
                            <option value="PYTHON" selected>Python (python 3.5)</option>
                            <option value="R">R (RScript 2.14.1)</option>
                            <option value="RUBY">Ruby (ruby 2.1.1)</option>
                            <option value="RUST">Rust (rustc 1.4.0)</option>
                            <option value="SCALA">Scala (scalac 2.9.1)</option>
                        </select>
                    </div>
                </div>
                <pre id="editor"></pre>
                <div class="test-input-check">
                
                <input id="input-checkbox" style="cursor: pointer;" type="checkbox" checked="false">
                <span style="cursor: pointer;">Click here for custom input</span>
                <div class="input-container" style="display: none;padding:12px 2px 2px 2px;" >
                    <textarea id="test-input" class="nice-textarea" placeholder="Write your custom inputs here..."></textarea>
                </div>
                <hr class="hr">
                </div>
                                    
                <div class="buttons">                    
                    <button type="button" class="btn btn-info" data-toggle="tooltip" title="Click to execute code" id="execute-btn">Compile & Run</button>                    
                </div>
                
            </div>            
        </div>
        <div class="col-sm-4 col-md-4">            
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-gear fa-spin fa-1x" style="font-size:24px"></i>  Settings</h3>
                </div>
                <div class="panel-body">
                    <p>Theme:</p>
                    <select class="form-control" name="theme" id="editor-theme">
                        <option value="ambiance">Ambiance</option>
                        <option value="chrome" selected>Chrome</option>
                        <option value="clouds">Clouds</option>
                        <option value="clouds_midnight">Clouds Midnight</option>
                        <option value="cobalt">Cobalt</option>
                        <option value="crimson_editor">Crimson Editor</option>
                        <option value="dracula">Dracula</option>
                        <option value="gruvbox">Gruvbox</option>
                        <option value="idle_fingers">Idle Fingers</option>
                        <option value="iplastic">Iplastic</option>
                        <option value="katzenmilch">Katzenmilch</option>
                        <option value="kuroir">Kuroir</option>
                        <option value="merbivore_soft">Merbivore Soft</option>
                        <option value="mono_industrial">Mono Industrial</option>
                        <option value="monokai">Monokai</option>
                        <option value="pastel_on_dark">Pastel on Dark</option>
                        <option value="solarized_dark">Solarized Dark</option>
                        <option value="solarized_light">Solarized Light</option>
                        <option value="sqlserver">Sqlserver</option>
                        <option value="terminal">Terminal</option>
                        <option value="textmate">Textmate</option>
                        <option value="tomorrow">Tomorrow</option>
                        <option value="tomorrow_night">Tomorrow Night</option>
                        <option value="tomorrow_night_blue">Tomorrow Night Blue</option>
                        <option value="tomorrow_night_bright">Tomorrow Night Bright</option>
                        <option value="tomorrow_night_eighties">Tomorrow Night Eighties</option>
                        <option value="twilight">Twilight</option>
                        <option value="vibrant_ink">Vibrant Ink</option>
                        <option value="xcode">Xcode</option>
                    </select>
                    <br>
                    <p>Indentation:</p>
                    <select class="form-control" name="indent" id="editor-indent">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4" selected>4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                    </select><br>
                    <i class="fa fa-custom fa-download fa-3x" id="download-btn" data-toggle="tooltip" title="Download Code"></i>                    
                    {% if request.session.username %}
                    <i class="fa fa-custom fa-save fa-3x" id="save-btn" data-toggle="tooltip" title="Save Code to profile"></i>                        
                    <i class="fa fa-custom fa-user-circle-o fa-3x" id="profile-btn" title="View Profile"  data-toggle="modal" data-target='#profile-modal'></i>  
                    <div class="modal fade" id="profile-modal" style="width: 100%;">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title text-center"> {{ request.session.username }}'s Profile</h4>
                                </div>
                                <div class="modal-body">                                    
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Code ID</th>
                                                <th>Code Name</th>
                                                <th>Timestamp</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="table_body">
                                        </tbody>
                                    </table>
                                    
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>                                
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="code-modal">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="code-title"></h4>
                                </div>
                                <div class="modal-body">
                                    <pre id="code-stub"></pre>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}      
                </div>
            </div>            
        </div>                             
    </div>
    <div class="row">
        <div class="container" >
            <div class="col-sm-8 output">
                <div class="output-box">
                    <br>
                    <div class="output-status" style="margin-top:5px">
                        <div class="status-info run-status">
                            <div class="key">Run Status:</div>
                            <div class="value text-center"></div>
                        </div>
                        <div class="status-info compile-status">
                            <div class="key">Compile Status:</div>
                            <div class="value text-center"></div>
                        </div>
                        <div class="status-info time-sec">
                            <div class="key">Time (sec):</div>
                            <div class="value text-center"></div>
                        </div>
                        <div class="status-info memory-kb">
                            <div class="key">Memory (KB):</div>
                            <div class="value text-center"></div>
                        </div>
                    </div>
                    <div class="output-details">
                        <div class="output-error">
                            <div class="detail-key">Error info</div>
                            <div class="error-key"></div>
                            <pre class="error-message"></pre>
                        </div>
                        <div class="i-info">
                            <div class="detail-key">Input (stdin)</div>
                            <pre class="output-i"> </pre>
                            <span class="output-i-message">
                                <i>Standard input is empty</i>
                            </span>
                        </div>
                        <div class="o-info">
                            <div class="detail-key">Output (stdout)</div>
                            <pre class="output-o"> </pre>
                            <span class="output-o-message">
                                <i>Standard output is empty</i>
                            </span>
                        </div>
                    </div><br>
                </div>
            </div>
        </div>
    </div>
    {% include "footer.html" %}
</div>