<div class="row">
	<div class="container-fluid">
		<hr>
		<div class="row">
			<div class="col-sm-2">
				<a href="https://www.hackerearth.com" target="_blank" style="float: left">
					<img src="https://hackerearth.global.ssl.fastly.net/static/hackerearth/images/badge/HE_badge_on_dark.png" alt="HackerEarth badge">
				</a>
			</div>
			<div class="col-sm-8">
				<h4 class="text-center">Developed by Vivek S | Copyright &copy; CodePro 2018 | Made with <i class="fa fa-heart"></i> in India</h4>
				<div class="text-center">
					<a href="https://www.linkedin.com/vivek020598" target="_blank">
						<i class="fa fa-linkedin-square fa-3x grow" style="color:#007bb6;margin-right:7px" aria-hidden="true"></i>
					</a>
					<a href="https://www.github.com/vivek0079" target="_blank">
						<i class="fa fa-github fa-3x grow" style="color:#333;margin-right:7px" aria-hidden="true"></i>
					</a>
					<a href="mailto:vivek.vivek0079@gmail.com">
						<i class="fa fa-envelope fa-3x grow" style="color:#ea4335;margin-right:7px" aria-hidden="true"></i>
					</a>
					<br>
					<br>
				</div>
			</div>
		</div>
	</div>
</div>