{% load staticfiles %}
<nav class="navbar navbar-default" role="navigation" style="background: rgb(243, 243, 243)">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-left" id="my-logo"><img src="{% static 'img/CodePro-logo.png' %}" alt="" id="logo-img"> | Online Compiler</a>
    </div>

    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">

            {% if 'username' in request.session %}                
                <li>
                    <a style="cursor: pointer;" >{{ request.session.username }}</a>
                </li>                
                <li>
                    <a href="/"> New Code </a>
                </li>
                <li>
                    <a href="" id="logout">Logout</a>
                </li>
              
            {% else %}
                <li>
                    <a href="" data-toggle="modal" data-target="#register-modal">Register</a>
                </li>
                <div class="modal fade" id="register-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title text-center">Register</h4>
                            </div>
                            <div class="modal-body">                                
                                <form action="" method="POST" role="form">
                                     {% csrf_token %}
                                    <div style="color:red;font-size: 20px;" id="register-error" class="text-center"></div>
                                    <div class="form-group">
                                        <input type="text" class="my-form form-control" id="register-username" placeholder="Username (minimum 5 characters)" autofocus>                                        
                                    </div>
                                    <div class="form-group">
                                        <input type="email" class="my-form form-control" id="register-email" placeholder="Email">                                        
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="my-form form-control" id="register-pass" placeholder="Password">                                    
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="my-form form-control" id="register-con-pass" placeholder="Confirm Password">                                    
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal" style="width: 49%">Close</button>
                                <button type="submit" class="btn btn-lg btn-primary" id="register-btn" style="width: 49%">Sign-up</button>
                            </div>
                        </div>
                    </div>
                </div>
                <li>
                    <a href="" data-toggle="modal" data-target="#login-modal">Login</a>
                </li>
                <div class="modal fade" id="login-modal">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title text-center">Login</h4>
                            </div>
                            <div class="modal-body">                                
                                <form action="" method="POST" role="form">
                                    {% csrf_token %}
                                    <div class="form-group">                                        
                                        <input type="text" class="my-form form-control" id="login-username" placeholder="Username..." required="true" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="my-form form-control" id="login-password" placeholder="Password..." required="true">
                                    </div>                                    
                                    <div class="checkbox form-group">
                                        <label>
                                            <input type="checkbox" id="stayloggedin" checked>
                                            Remember me
                                        </label>
                                    </div>
                                    
                                </form>
                                
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-lg btn-danger" data-dismiss="modal" style="width: 48%">Close</button>
                                <button type="submit" class="btn btn-lg btn-success" id="login" style="width: 48%">Login</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </ul>
    </div>
</nav>
  
